#content {
	padding: 1em;
}

#content > header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em 0;
}

#content > header h2 {
	margin: 0;
}

.shops {
	display: grid;
 	grid-template-columns: repeat(auto-fit, minmax(min(100%/3, max(20vw, 100%/5)), 1fr));
	grid-gap: 1.5em;
}

.shops > form {
	display: none;
}

.shop {
	border: 1px solid rgb(180,180,180);
	border-radius: .25em;
	color: black;
	text-decoration: none;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	height: 7rem;
	box-sizing: border-box;
}

.shop > header, .shop > footer {
	display: flex;
}

.shop > header {
	align-items: center
}

.shop > header .menu {
	padding: .5em;
}

.shop > footer {
	padding: .75em 1em;
}

.shop > header .placeholder, .shop > footer .placeholder {
	flex-grow: 1;
}

.shop h2 {
	margin: 0;
	padding: .75rem;
}
